<div class="catalog-header">
    <div class="header-content">
      <h1 class="project-name" (click)="irParaHome($event)">KidsGrace</h1>
    </div>
    <div class="catalog-cart">
      <a href="#" class="nav-icon" (click)="irParaCarrinhoCompra($event)">
        <div class="cart-container">
          <i class="bi bi-cart"></i>
          <span class="cart-badge" *ngIf="quantidadeTiposProdutos > 0">
            {{ quantidadeTiposProdutos }}
          </span>
        </div>
      </a>
    </div>    
  </div>
  

  <div class="catalog-container">
    <h2>Catálogo de Produtos</h2>
  
    <div class="filters">
      <input type="text" id="search" placeholder="Buscar produtos..." [(ngModel)]="filtroTexto">
      
      <select id="filter-category" [(ngModel)]="filtroCategoria">
        <option value="">Todos os tipos</option>
        <option value="Action-Figure">Action Figures</option>
        <option value="Funko">Funkos</option>
        <option value="Estatueta">Estatuetas</option>
        <option value="Brinquedo">Brinquedos</option>
      </select>
      
      <select id="filter-price" [(ngModel)]="filtroPreco">
        <option value="">Ordenar por preço</option>
        <option value="asc">Menor preço</option>
        <option value="desc">Maior preço</option>
      </select>
    </div>
  
    <div class="button-busca">
      <button (click)="aplicarFiltros()">Buscar</button>
    </div>
  
    <div class="product-grid" *ngIf="produtosFiltrados.length > 0">
      <app-card-reut *ngFor="let produto of produtosFiltrados"
                     [produto]="produto"
                     (diminuir)="diminuirQuantidade(produto)"
                     (aumentar)="aumentarQuantidade(produto)"
                     (adicionar)="adicionarItem(produto, $event)">
      </app-card-reut>
    </div>
  
    <div *ngIf="produtosFiltrados.length === 0 && (filtroTexto || filtroCategoria || filtroPreco)">
      <p class="text-muted">Nenhum produto encontrado com os filtros selecionados.</p>
    </div>
  </div>
  
  <img *ngIf="animatingItem"
     [src]="animatingItem.imagem"
     class="animation-item"
     [ngStyle]="{'top.px': animatingItem.top, 'left.px': animatingItem.left}" />
  <footer>
    <app-footer-generic></app-footer-generic>
  </footer>