<header class="header-container">
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="navbar-brand">KidsGrace</a>
        </div>

        <div class="navbar-center">
            <div class="search-wrapper">
                <input type="text" class="form-control" placeholder="O que você procura?">
                <span class="search-icon"><i class="bi bi-search"></i></span>
            </div>
        </div>

        <div class="navbar-right">
            <a href="#" class="nav-icon" (click)="irParaCarrinhoCompra($event)">
                <div class="cart-container">
                    <i class="bi bi-cart"></i>
                    <span class="cart-badge" *ngIf="quantidadeTiposProdutos > 0">
                        {{ quantidadeTiposProdutos }}
                    </span>
                </div>
            </a>
            <ng-container *ngIf="isLogin">
                <a href="#" class="nav-icon" (click)="irParaUser($event)">
                    <!-- <i class="bi bi-person-circle"></i> -->
                    <img [src]="avatarSelecionado" alt="Foto do Usuário" class="profile-img">
                </a>
                <button class="btn btn-light" (click)="logout()">Sair</button>
            </ng-container>

            <ng-container *ngIf="!isLogin">
                <button class="btn btn-light" (click)="irParaLogin()">Login</button>
            </ng-container>
        </div>
    </nav>

    <div class="header-bottom">
        <div class="header-separator"></div>
        <nav class="nav">
            <a href="#" class="nav-link" (click)="irParaCatalogo($event)">Catálogo</a>
            <a href="#" class="nav-link" (click)="irParaEquipe($event)">Equipe</a>
            <ng-container *ngIf="isAdmin()">
                <a href="#" class="nav-link" (click)="irParaAdministracao($event)">Administrativo</a>
            </ng-container>
        </nav>
    </div>
</header>