<footer class="footer">
    <div class="footer-logo">
        <img src="assets/images/logo-atualizada.webp" alt="KidsGrace Logo">
    </div>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Sobre Nós</h4>
            <p>Somos uma loja especializada em Action Figures e colecionáveis, mas somos, acima de tudo, uma equipe de apaixonados pela cultura geek, unidos pela admiração por personagens icônicos de jogos, filmes e animes.</p>
        </div>
        <div class="footer-section">
            <h4>Links Rápidos</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">Administração</a></li>
            </ul>
        </div>
        <div class="footer-section social-icons">
            <h4>Redes Sociais</h4>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        © 2025 KidsGrace. Todos os Direitos Reservados
    </div>
</footer>
