<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let produto of produtos">
            <div class="card">
                <img [src]="produto.imagem" alt="{{ produto.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">{{ produto.preco }}</p>
                    <p class="card-text">{{ produto.parcelamento }}</p>
                </div>
                <div class="quantity-container">
                    <i class="bi bi-dash-circle btn-quantity decrease"(click)="diminuirQuantidade(produto)"></i>
                    <span class="quantity">{{produto.quantidade}}</span>
                    <i class="bi bi-plus-circle btn-quantity increase"(click)="aumentarQuantidade(produto)"></i>
                    <button class = "btn-add-to-cart"(click)="adicionarItem(produto, $event)">
                    <i class = "bi bi-cart"> Adicionar</i>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
<img *ngIf="animatingItem"
     [src]="animatingItem.imagem"
     class="animation-item"
     [ngStyle]="{'top.px': animatingItem.top, 'left.px': animatingItem.left}" />
