:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.cart-header {
  width: 100%;
  background: linear-gradient(to right, #5500b5, #dbbbff);
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Press Start 2P', system-ui;
  margin: 0;
  cursor: pointer;
}

.cart-container {
  width: 80%;
  max-width: 900px;
  padding: 40px;
  background-color: #dbbbff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 3px solid #5500b5;
  margin: auto;
  margin-top: 30px;
}

.cart-container h2 {
  color: #5500b5;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px #6500d6;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-actions .btn-add-to-cart {
  background-color: #5500b5;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.item-actions .btn-add-to-cart:hover {
  background-color: #6500d6;
}

.item-actions .btn-remove {
  background-color: #5500b5;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  font-weight: bold;
}

.item-actions .btn-remove:hover {
  background-color: #6500d6;
}

.item-actions .btn-quantity {
  font-size: 1.5rem;
  color: #5500b5;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Press Start 2P', system-ui;
  padding: 8px 12px;
}

.item-actions .btn-quantity:hover {
  color: #6500d6;
  transform: scale(1.05);
}

.item-actions .btn-quantity:active {
  transform: scale(1);
}

.item-actions .btn-quantity i {
  font-size: 1.5rem;
}

.item-actions .decrease {
  background-color: transparent;
}

.item-actions .increase {
  background-color: transparent;
}

.item-actions .decrease:hover {
  color: #e65c5c;
}

.item-actions .increase:hover {
  color: #5cb85c;
}

.quantity {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d1d1b;
  min-width: 30px;
  text-align: center;
  background-color: #dbbbff;
  border-radius: 5px;
  padding: 5px 10px;
}

.clear-cart-button {
  background-color: #5500b5;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.clear-cart-button:hover {
  background-color: #6500d6;
}

.cart-container h3 {
  color: #5500b5;
  margin-top: 20px;
}
footer, app-footer-generic{
  width: 100%;
  padding-top: 25px;
}