<div class="edit-header">
  <div class="header-content">
    <h1 class="project-name" (click)="irParaHome()">KidsGrace</h1>
  </div>
</div>

<div class="admin-container">
  <h2>Gerenciar Produtos</h2>

  <div class="product-card" *ngFor="let product of products">
    <div class="product-info">
      <img [src]="product.imageUrl" alt="Imagem do Produto" />
      <div class="details">
        <p><strong>ID:</strong> {{ product.id }}</p>
        <p><strong>Nome:</strong> {{ product.name }}</p>
        <p><strong>Preço:</strong> R$ {{ product.price | number:'1.2-2' }}</p>
        <p><strong>Tipo:</strong> {{ product.type }}</p>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn-action edit-btn" (click)="editProduct(product.id)">
        <i class="bi bi-pen"></i> Editar
      </button>
      <button class="btn-action delete-btn" (click)="deleteProduct(product.id)">
        <i class="bi bi-trash"></i> Excluir
      </button>
    </div>
  </div>

  <button class="btn-primary add-btn" (click)="irParaEditPage($event)">
    <i class="bi bi-plus-circle"></i> Adicionar Produto
  </button>
</div>

<footer>
  <app-footer-generic></app-footer-generic>
</footer>