<div class="login-header">
  <div class="header-content">
    <h1 class="project-name" routerLink="/home"(click)="irParaHome()">KidsGrace</h1>
  </div>
</div>

<div class="login-container">
  <h2>Cadastro</h2>
  <form (ngSubmit)="cadastrar()">
    <div class="input-group">
      <label for="nome">Nome Completo:</label>
      <input type="text" id="nome" [(ngModel)]="usuarioData.name" name="nome" required />
    </div>
    <div class="input-group">
      <label for="userNome">Usuário:</label>
      <input type="text" id="userNome" [(ngModel)]="usuarioData.username" name="userNome" required />
    </div>
    <div class="input-group">
      <label for="o">Email:</label>
      <input type="email" id="o" [(ngModel)]="usuarioData.email" name="o" required />
    </div>

    <div class ="input-group">
      <label for="userEndereco">Endereço</label>
      <input type="text" id ="userEndereco" [(ngModel)]="usuarioData.adress" name="userEndereco" required/>
    </div>

    <div class ="input-group">
      <label for = "userTelefone">Telefone</label>
      <input type="tel" id ="userTelefone" [(ngModel)]="usuarioData.phone" name="userPhone" required mask="(00) 00000-0000">
    </div>

    <div class="input-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" [(ngModel)]="usuarioData.password" name="senha"
      required />
    </div>
    
    <div class="input-group">
      <label for="confirmarSenha">Confirmar Senha:</label>
      <input type="password" id="confirmarSenha" [(ngModel)]="confirmarSenha" name="confirmarSenha" required />
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  <p class="register-link">
    Já tem uma conta? <a routerLink="/login"(click)="irParaLogin()">Faça login aqui</a>
  </p>
</div>
<footer>
   <app-footer-generic></app-footer-generic>
</footer>