<div class="team-header">
    <div class="header-content">
      <h1 class="project-name" (click)="irParaHome($event)">KidsGrace</h1>
    </div>
  </div>
  
  <div class="team-container">
    <h2>Nossa Equipe</h2>
    <div class="team-grid">
      <div class="team-card" *ngFor="let membro of equipe">
        <img [src]="membro.foto" alt="Foto do membro" class="team-img">
        <div class="team-info">
          <p class="team-nome">{{ membro.nome }}</p>
          <p class="team-cargo">{{ membro.cargo }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <app-footer-generic></app-footer-generic>
  </footer>
  