.team-header {
  width: 100%;
  background: linear-gradient(to right, #5500b5, #dbbbff);
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-name {
  font-weight: bold;
  font-family: 'Press Start 2P', system-ui;
  cursor: pointer;
  font-size: 2rem;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}

.project-name:hover {
  transform: scale(1.05);
}

.team-container {
  width: 90%;
  max-width: 1200px;
  padding: 40px 20px;
  background-color: #f8eaff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 2px solid #5500b5;
  margin: 40px auto;
}

.team-container h2 {
  color: #5500b5;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #6e00d6;
  font-weight: bold;
  font-family: 'Press Start 2P', system-ui;
  font-size: 2rem;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-card {
  width: 220px;
  background: #ffffff;
  border: 2px solid #5500b5;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.team-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  border: 3px solid #5500b5;
}

.team-info {
  text-align: center;
}

.team-nome {
  font-weight: bold;
  color: #5500b5;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.team-cargo {
  color: #3c3c3c;
  font-size: 0.95rem;
}
