<div class="profile-header">
  <div class="header-content">
    <h1 class="project-name" (click)="irParaHome($event)">KidsGrace</h1>
  </div>
</div>

<div class="profile-container">
  <h2>Meu Perfil</h2>

  <div class="profile-card">
    <div class="profile-img-wrapper" (click)="mostrarSelecaoAvatar = true">
        <img [src]="avatarSelecionado" alt="Foto do Usuário" class="profile-img profile-img-cover">
    </div>
    
    
    <div class="profile-info">
      <p><strong>Nome:</strong> {{ decoded.name }}</p>
      <p><strong>Email:</strong> {{ decoded.email }}</p>
      <p><strong>Telefone:</strong> {{ decoded.telephone}}</p>
      <p><strong>Endereço:</strong> {{ decoded.address}}</p>
    </div>


  </div>

  <div *ngIf="mostrarSelecaoAvatar" class="avatar-selection">
    <img *ngFor="let avatar of avatars"
         [src]="pfpPath + avatar.namepfp"
         (click)="selecionarAvatar(avatar.id)"
         >
         <!-- [class.selected]="avatarSelecionado == avatar.id" -->
  </div>
  
  </div>

<footer>
  <app-footer-generic></app-footer-generic>
</footer>