<header>
  <app-header></app-header>
</header>

<div *ngIf="produto">
  <div class="container d-flex flex-row my-5" >
    <img [src]="produto.imageUrl" class="imageSizer"  alt="Imagem do produto" />
    <div class="container">
      <h2>{{ produto.name }}</h2>
      <p><strong>Marca:</strong> {{ produto.brand }}</p>
      <h2 style="color:  #5500b5"><strong> R$ {{ produto.price }} </strong></h2>
      <p><strong>Categoria:</strong> {{ produto.type }}</p>
      <p><strong>Descrição:</strong> <br> {{ produto.description }}</p>

    </div>
  </div>
</div>

<footer class="fixed-bottom">
  <app-footer-generic></app-footer-generic>
</footer>