<header>
  <app-header></app-header>
</header>

<div *ngIf="produto" class="produto-detalhes-container my-5">
  <div class="produto-detalhes-card d-flex flex-column flex-lg-row align-items-center">
    <img [src]="produto.imageUrl" class="produto-imagem" alt="Imagem do produto" />
    
    <div class="produto-info ms-lg-4 mt-4 mt-lg-0">
      <h2 class="produto-nome">{{ produto.name }}</h2>
      <p><strong>Marca:</strong> {{ produto.brand }}</p>
      <p><strong>Categoria:</strong> {{ produto.type }}</p>
      <p><strong>Descrição:</strong> <br /> {{ produto.description }}</p>
      <h2 class="produto-preco"><strong>R$ {{ produto.price }}</strong></h2>
      <br><br>
      
      <div class="quantity-buttons-container">
        <div class="quantity-left">
          <i class="bi bi-dash-circle btn-quantity decrease" (click)="diminuirQuantidade(produto)"></i>
          <span class="quantity">{{produto.quantity}}</span>
          <i class="bi bi-plus-circle btn-quantity increase" (click)="aumentarQuantidade(produto)"></i>
        </div>
        <button class="btn-add-to-cart" (click)="adicionarItem(produto, $event)">
          <i class="bi bi-cart"></i> Adicionar
        </button>
      </div>
    </div>
  </div>
</div>

<img *ngIf="animatingItem"
  [src]="animatingItem.imagem"
  class="animation-item"
  [ngStyle]="{'top.px': animatingItem.top, 'left.px': animatingItem.left}" />

<footer>
  <app-footer-generic></app-footer-generic>
</footer>
